<h2>Horarios de Citas</h2>

<div class="timetable">
	<table style="width: 400px;">
		<tr  style="text-align: left;">
			<th>hora</th>
			<th>cita</th>
			<th>accion</th>
		</tr>
		<tr ng-repeat="hourSlot in hourSlots">
			<td>{{hourSlot.hour}}</td> 
			<td><span ng-show="hourSlot.appointment">Pet: {{hourSlot.appointment.pet.name}}, Status: {{hourSlot.appointment.status}}<span></td>
			<td>
				<a ng-show="hourSlot.appointment" ng-click="showAppointment(hourSlot.appointment._id)">Editar</a>
				<a ng-show="!hourSlot.appointment" ng-click="addAppointment(currentDate + '-' + hourSlot.hour)">Añadir</a>
			</t>
		</tr>
</div>
