<div ng-controller="CustomerController">
	<h2>Customer {{customer._id}}</h2>
	<form action="">

		<label-input-form-group data-label="dni" data-model="customer.dni" data-placeholder="dni" />
		<label-input-form-group data-label="firstName" data-model="customer.firstName" data-placeholder="firstName" />
		<label-input-form-group data-label="lastName" data-model="customer.lastName" data-placeholder="lastName" />
		<label-input-form-group data-label="phone" data-model="customer.phone" data-placeholder="phone" />
		<label-input-form-group data-label="email" data-model="customer.email" data-placeholder="email" />
		<label-input-form-group data-label="note" data-model="customer.note" data-placeholder="note" />

		<input type="button" ng-click="remove()" value="Delete"/>
		<input type="button" ng-click="submit()" value="Save"/>
		<input type="button" ng-click="cancel()" value="Cancel"/>
	</form>
</div>